
    <section class="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="blog-item">
                        <img src="../../assets/img/{{post[0].image}}" alt="{{post[0].title}}">
                        <div class="date">{{post[0].date}}</div>
                        <div class="down-content">
                            <h4>{{post[0].title}}</h4>
                            <p>{{post[0].text}}</p>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </section>

